<p style="color: green"><%= notice %></p>

<h2>Name: </h2> <p> <%= @style.name %></p>

<h2>Description: </h2> <p> <%= @style.description %></p>

<h2>Beers: </h2>
<% @style.beers.each do |beer| %>
  <li><%= beer.name %></li>
<% end %>
<br>
<div>
  <%= edit_and_destroy_buttons(@style) %>
  <br>
  <%= link_to "Back to styles", styles_path %>
  </div>

