<div id="<%= dom_id brewery %>">
  <h3>
    <%= link_to brewery.name, brewery%>
    <% if not brewery.active  %>
      <span class="badge bg-secondary">retired</span>
  <% end %>
  </h3>

  <p>
    <strong>Amount of beers:</strong>
    <%= brewery.beers.count %>
  <p>
    <i>Established in </i>
    <%= brewery.year %>
  </p>

  <p>
    <strong>Beers:</strong>
    <%= brewery.beers.count %>
  </p>

  <p>
   Brewery has <%= pluralize(brewery.ratings.count, 'rating') %> <%= if brewery.ratings.count == 0
    " "
    
   else
    "with a rating of #{round(brewery.average_rating)}" 
    end%>
  </p>
</div>
