<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <% if beer.style_id%>
    <%= Style.find_by_id(beer.style_id).name %>
    <% end %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <p>
    Beer has <%= pluralize(beer.ratings.count, 'rating') %> with an average of <%= beer.average_rating %>
  </p>

</div>
